@import url('https://fonts.googleapis.com/css?family=Karla');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Karla', sans-serif;
    color: #222;
}

.navbar {
    padding: 10px;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 18px;
}



/* Jumbotron */

.callout-container {

    height: 100vh;
    background: url("https://www.monkeeslivealmanac.com/uploads/7/8/9/5/7895731/6073041_orig.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    font-size: 80px;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}

.jumbotron .sub {
    font-size: 28px;
    color: white;
    margin: 25px 0;
    font-weight: 500;
}

  
.btn-dark a {
    color: white;
}

.btn-dark a:hover {
    text-decoration: none;
}


/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
